/* styles.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .help-text {
    font-size: 12px;
    color: #777;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  textarea {
    width: calc(100% - 22px);
    padding: 12px;
    margin-top: 5px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input[type="text"]:focus,
  select:focus,
  textarea:focus {
    border-color: #0073aa;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 115, 170, 0.5);
  }
  
  button {
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .upload-button {
    background-color: #6c757d;
  }
  
  .upload-button:hover {
    background-color: #5a6268;
  }
  
  .add-button {
    background-color: #0073aa;
  }
  
  .add-button:hover {
    background-color: #005a87;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-section{
    width: 30%;
  }


  .categories-section {
    width: 66%;
  }
  
  .categories-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .categories-section table, th, td {
    border: 0px solid #000000;
  }
  
  .categories-section th, .categories-section td {
    padding: 12px;
    text-align: left;
  }
  
  .categories-section th {
    background-color: #f7f7f7;
    font-weight: bold;
  }
  
  .categories-section tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .categories-section img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
  }
  