<div class="product-container">

    <div class="container">
        <div class="payment">
            <div class="payment-top">
                <div class="address">
                    <i class="fa-solid fa-location-dot"></i>
                    Địa chỉ nhận hàng
                </div>
    
                <div class="content">
                    <div class="content-framword">
                        <div class="name">Trần Minh Vũ</div>
                        <div class="number">(+84)1234567890</div>
                        <div class="address-info">KP Tân An, TT tân phú, Huyện Đống phú, Tỉnh BP</div>
                        <div class="default">mặc định</div>
                    </div>
    
                    <button class="change">Thay đổi</button>
                </div>
            </div>

            <div class="payment-mid">
                <div class="product-content">
                    <div class="product-name">Sản phẩm</div>
                    <div class="product-unit-price">Đơn giá</div>
                    <div class="product-quantity">Số lượng</div>
                    <div class="product-price">Thành tiền</div>
                </div>

                <div class="product-content-info"> 
                    <div class="product-frame">
                        <div class="img">
                            <img src="../../../../assets/banner/gundam1.jpg" class="images" alt="" >
                        </div>
                        <div class="content-name">Gọng kính nam nữ ...</div>
                        <div class="type">
                            <span class="type-write">Loại: 2438 C2</span>
                        </div>
                        <div class="unit-price">170.000đ</div>
                        <div class="quantity">1</div>
                        <div class="price">170.000đ</div>
                    </div>

                    <div class="transport-frame">
                        <div class="transport-left">
                            <span class="message">Lời nhắn: </span>
                            <div class="message-frame">
                                <input class="message-input" type="text" placeholder="Lưu ý cho người bán">
                            </div>
                        </div>

                        <div class="transport-right">
                            <div class="content-right">
                                <div class="shipping-unit">Đơn vị vận chuyển:</div>
                                <div class="shipping-fast">Nhanh</div>
                                <button class="shipping-change">Thay đổi</button>
                                <div class="shipping-price">32.800đ</div>
                            </div>
                            <div class="delivery-time">Đảm bảo nhận hàng từ 16 Tháng 5 - 17 Tháng 5</div>
                            <div class="voucher">Nhận Voucher trị giá ₫10.000 nếu đơn hàng 
                                được giao đến bạn sau ngày 17 Tháng 5 2024.
                            </div>
                        </div>
                    </div>

                    <div class="payment-frame">
                        <div class="payment-content">Tổng số tiền 1 sản phẩm:</div>
                        <div class="payment-price">200.000đ</div>
                    </div>
                </div>
            </div>

            <div class="payment-voucher">
                <div class="voucher-frame">
                    <div class="voucher-left">
                        <i class="fa-solid fa-ticket"></i>
                        <h2 class="voucher-write">Voucher</h2>
                    </div> 
                    <div class="voucher-right">
                        <button class="btn-voucher">Chọn voucher</button>
                    </div>
                </div>
            </div>

            <div class="payment-method">
                <div class="method-left">
                    <h2 class="method-content">Phương thức thanh toán</h2>
                </div>
                <div class="method-right">
                    <span class="span-method">
                        <button class="btn-method">Thanh toán bằng momo</button>
                    </span>
                    <span class="span-method">
                        <button class="btn-method">Chuyển khoản ngân hàng</button>
                    </span>
                    <span class="span-method">
                        <button class="btn-method">Ví shopee pay</button>
                    </span>
                </div>
            </div>

            <div class="payment-total">
                <div class="total-frame">
                    <div class="total-left">
                        <h3 class="total-content">Tổng tiền hàng</h3>
                        <h3 class="total-content">Phí vận chuyển</h3>
                        <h3 class="total-content">Tổng cộng voucher giảm giá</h3>
                        <h3 class="total-content">Tổng thanh toán</h3>
                    </div>
                    <div class="total-right">
                        <div>150.000đ</div>
                        <div>32.000đ</div>
                        <div>-15.000đ</div>
                        <div class="total-price">167.000đ</div>
                    </div>
                </div>
            </div>

            <div class="payment-bottom">
                <h3 class="total-content">"Nhấn đặt hàng đồng nghĩa với việc bạn tuân theo yêu cầu của shop."</h3>
                <div class="total-order">
                    <button class="btn-order">Đặt hàng</button>
                </div>
            </div>
        </div>
        
    </div>

</div>