 a{ text-decoration: none; }
  
  li { list-style: none; }
  
  button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
  }
  
  img, ion-icon, button, a { display: block; }
  
  span { display: inline-block; }
  
  html {
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
  }
  
  input {
    display: block;
    width: 100%;
    font: inherit;
  }
  
  input::-webkit-input-placeholder { font: inherit; }
  
  input::-moz-placeholder { font: inherit; }
  
  input:-ms-input-placeholder { font: inherit; }
  
  input::-ms-input-placeholder { font: inherit; }
  
  input::placeholder { font: inherit; }
  
  body { background: var(--white); }
    
    
  
  .container { padding: 0 15px; }

  .payment{
    display: block;
    width: 100%;
  }

  .payment-top{
    border: 1px solid rgb(0, 176, 80);
    padding: 20px;
    width: 100%;
  }

  .address{
    margin-bottom: 20px;
    color:rgb(0, 176, 80);
    font-size: 20px;
    font-weight: 400;
  }

  .address .fa-location-dot{
    font-size: 20px;
    padding-right: 5px;
  }

  .payment-top .content{
    display: flex;
  }

  .content .content-framword{
    display: flex;
    font-size: 17px;
  }

  .content-framword .name{
    font-weight: 500;
  }

  .content-framword .number{
    font-weight: 500;
    margin: 0 5px;
  }

  .content-framword .address-info{
    margin: 0 15px;
  }

  .content-framword .default{
    border: 1px solid rgb(0, 176, 80);
    font-size: 14px;
    padding: 2px;
    color: rgb(0, 176, 80);
  }

  .content .change{
    margin: 0 20px;
    font-weight: 500;
    color: blueviolet;
  }


  /*    PAYMENT MID */

  .payment-mid{
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgb(0, 176, 80);
  }

  .payment-mid .product-content{
    display: flex;
    color: cadetblue;
    padding: 20px;
  }

  .product-content .product-price,
  .product-unit-price,
  .product-quantity{
    margin-left: auto;
  }

  .product-content .product-price{
    margin-left: 150px;
  }

  .product-quantity{
    margin-left: 70px;
  }

  .product-content .product-name{
    font-size: 20px;
    font-weight: 400;
    color: black;
  }

  .product-content-info{
    display: block;
  }

  .product-content-info .product-frame{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 176, 80);
  }

  .img{
    width: 50px;
    height: 50px;
  }

  .img .images{
    width: 50px;
    height: 50px;
  }

  .product-frame .content-name{
    width: 40%;
    margin: 0 15px;
  }

  .product-frame .unit-price,
  .quantity,
  .price{
    margin-left: auto;
  }

  .product-frame .price{
    margin-left: 190px;
  }

  .product-frame .quantity{
    margin-left: 90px;
  }

  .product-content-info  .transport-frame{
    width: 100%;
    display: flex;
  }

  .transport-frame .transport-left{
    width: 40%;
    display: flex;
    padding: 20px;
  }

  .message{
    margin-top: 10px;
  }

  .transport-left .message-frame{
    width: 350px;
    margin-left: 10px;
  }

  .message-frame .message-input{
    padding: 10px;
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0.2);
  }



  .transport-frame .transport-right{
    padding: 20px;
    border-left: 1px solid rgb(0, 176, 80);
    width: 60%;
    display: block;
  }

  .transport-right  .content-right{
    display: flex;
  }

  .content-right .shipping-price{
    margin-left: auto;
  }

  .content-right .shipping-fast{
    margin-left: 20px;
  }

  .content-right .shipping-change {
    margin-left: auto;
    font-weight: 500;
    color: blueviolet;
  }

  .transport-right .delivery-time{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 50;
  }

  .transport-right .voucher{
    font-size: 14px;
    font-weight: 50;
  }

  .payment-frame{
    padding: 10px;
    border-top: 1px solid rgb(0, 176, 80);
    display: flex;
  }

  .payment-frame .payment-content{
    padding: 4px;
    font-size: 15px;
    font-weight: 300;
    margin-left: auto;

  }

  .payment-frame  .payment-price{
    margin-left: auto;
    margin-left: 30px;
    color: rgb(0, 176, 80);
    font-weight: 500;
    font-size: 20px;
  }

  .payment-voucher{
    margin-top: 40px;
    padding: 20px;
    border: 1px solid rgb(0, 176, 80);
  }

  .payment-voucher .voucher-frame{
    display: flex;
  }

  .voucher-frame .voucher-left{
    display: flex;
  }

  .voucher-left .voucher-write{
    font-size: 20px;
    font-weight: 350;
    margin-left: 10px;
  }

  .voucher-left .fa-ticket{
    color: rgb(0, 176, 80);
    font-size: 20px;
    margin-top: 4px;
  }

  .voucher-frame .voucher-right{
    margin-left: auto;
  }

  .voucher-frame  .btn-voucher{
    color: blueviolet;
    font-weight: 500;
  }

  .payment-method{
    margin-top: 40px;
    border: 1px solid rgb(0, 176, 80);
    padding: 20px;
    display: flex;
  }

  .payment-method .method-left{
    margin-right: 40px;
    margin-top: 10px;
  }

  .method-left .method-content{
    font-size: 20px;
  }

  .payment-method .method-right{
    display: flex;
  }

  .method-right .span-method{
    padding: 10px;
    border: 1px solid rgb(0, 176, 80);
    margin-right: 30px;
    border-radius: 5px;
  }

  .payment-total{
    padding: 20px;
    border-left:1px solid rgb(0, 176, 80);
    border-bottom: 1px solid rgb(0, 176, 80);
    border-right: 1px solid rgb(0, 176, 80);
  }

  .payment-total .total-frame{
    display: flex;
  }

  .total-frame .total-left{
    margin-left: auto
  }

  .total-left .total-content{
    font-size: 16px;
    font-weight: 300;
  }

  .total-frame .total-right{
    margin-left: 80px;
    text-align: right;
  }

  .total-right .total-price{
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 176, 80);
  }

  .payment-bottom{
    border-left:1px solid rgb(0, 176, 80);
    border-bottom: 1px solid rgb(0, 176, 80);
    border-right: 1px solid rgb(0, 176, 80);
    padding: 20px;
    display: flex;
  }

  .payment-bottom .total-content{
    font-size: 16px;
    font-weight: 300;
  }

  .payment-bottom .total-order{
    margin-left: auto;
    padding: 10px 50px;
    border: 1px solid rgb(0, 176, 80);
    background-color: rgb(255, 176, 80);
    border-radius: 5px;
  }

  .total-order .btn-order{
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
  
  @media (min-width: 480px) {

  }  

  @media (min-width: 570px) {

  }

  @media (min-width: 768px) {
    html { font-size: 17px; }

  
    .container {
      max-width: 750px;
      margin: auto;
    }

  
  }

  @media (min-width: 1024px) {
    .container { max-width: 980px; }

    .product-container .container {
        gap: 30px;
        margin-bottom: 30px;
      }
  }

  @media (min-width: 1200px) {
    .container { max-width: 1200px; }
  }

  @media (min-width: 1400px) {

  html { font-size: 18px; }

  .container { max-width: 1350px; }

  }

