<!--
      - PRODUCT
    -->
    <div class="product-container">

        <div class="container">
    
    
            <!--
                - SIDEBAR
              -->
    
            <div class="sidebar  has-scrollbar" data-mobile-menu>
    
                <div class="sidebar-category">
    
                    <div class="sidebar-top">
                        <h2 class="sidebar-title">Bộ lọc tìm kiếm</h2>               
                    </div>

                    <div class="menu-title-flex">
                                    
                                     <div class="frame-tribe">
                                        <p class="menu-title">Theo danh mục</p>
                                        <div class="catagory" *ngFor="let category of categories">
                                            <div class="check-catagory">
                                                <input 
                                                type="checkbox" 
                                                [value]="category.id" 
                                                (change)="onCategoryChange($event)"
                                              >
                                            </div>
                                            <span class="text-category">{{ category.name }}</span>
                                        </div>                                       
                                     </div>
    
                                     <div class="frame-tribe">
                                        <p class="menu-title">Đơn vị vận chuyển</p>
                                        <div  class="catagory">
                                            <div class="check-catagory">
                                                <input type="checkbox">
                                            </div>
                                            <span class="text-catagory">Hỏa tốc</span>
                                        </div>
                                        
                                        <div  class="catagory">
                                            <div class="check-catagory">
                                                <input type="checkbox">
                                            </div>
                                            <span class="text-catagory">Nhanh</span>
                                        </div>
    
                                        <div  class="catagory">
                                            <div class="check-catagory">
                                                <input type="checkbox">
                                            </div>
                                            <span class="text-catagory">Tiết kiệm</span>
                                        </div>
                                     </div>
    
                                     <div class="frame-tribe">
                                        <p class="menu-title">Thương hiệu</p>
                                        <div *ngFor="let brand of brands" class="catagory">
                                          <div class="check-catagory">
                                            <input type="checkbox" [value]="brand.id" (change)="onBrandChange($event)">
                                          </div>
                                          <span class="text-catagory">{{ brand.brandName }}</span>
                                        </div>
                                      </div>
    
                                     <div class="frame-tribe">
                                        <p class="menu-title">Khoảng giá</p>
                                        <div class="price-catagory">
                                            <input type="text" placeholder="Từ" class="price-first">
                                            <div class="dask"><i class="fa-solid fa-minus"></i></div>
                                            <input type="text" placeholder="Đến" class="price-end">
                                        </div>
                                        <button class="btn-apply">Áp dụng</button>
                                     </div>
    
                                     <div class="frame-crystal">
                                        <p class="menu-title">Tình trạng</p>
                                        <div  class="catagory">
                                            <div class="check-catagory">
                                                <input type="checkbox">
                                            </div>
                                            <span class="text-catagory">Đã sử dụng</span>
                                        </div>
                                        
                                        <div  class="catagory">
                                            <div class="check-catagory">
                                                <input type="checkbox">
                                            </div>
                                            <span class="text-catagory"></span>
                                        </div>
                                     </div>
                    </div>
    
                </div>
    
                <div class="product-showcase">
    
                    <h3 class="showcase-heading">best sellers</h3>
    
                    <div class="showcase-wrapper">
    
                        <div class="showcase-container">
    
                            <div class="showcase">
    
                                <a href="#" class="showcase-img-box">
                                    <img src="../../../../assets/banner/gundam1.jpg" alt="baby fabric shoes" width="75"
                                        height="75" class="showcase-img">
                                </a>
    
                                <div class="showcase-content">
    
                                    <a href="#">
                                        <h4 class="showcase-title">baby fabric shoes</h4>
                                    </a>
    
                                    <div class="showcase-rating">
                                        <i class="content_evaluate1 fa-solid fa-star"><span>
                                                <p class="evaluate1">5.0</p>
                                            </span></i>
                                    </div>
    
                                    <div class="price-box">
                                        <del>$5.00</del>
                                        <p class="price">$4.00</p>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="showcase">
    
                                <a href="#" class="showcase-img-box">
                                    <img src="../../../../assets/banner/gundam1.jpg" alt="men's hoodies t-shirt"
                                        class="showcase-img" width="75" height="75">
                                </a>
    
                                <div class="showcase-content">
    
                                    <a href="#">
                                        <h4 class="showcase-title">men's hoodies t-shirt</h4>
                                    </a>
                                    <div class="showcase-rating">
                                        <i class="content_evaluate1 fa-solid fa-star"><span>
                                                <p class="evaluate1">5.0</p>
                                            </span></i>
                                    </div>
    
                                    <div class="price-box">
                                        <del>$17.00</del>
                                        <p class="price">$7.00</p>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="showcase">
    
                                <a href="#" class="showcase-img-box">
                                    <img src="../../../../assets/banner/gundam1.jpg" alt="girls t-shirt"
                                        class="showcase-img" width="75" height="75">
                                </a>
    
                                <div class="showcase-content">
    
                                    <a href="#">
                                        <h4 class="showcase-title">girls t-shirt</h4>
                                    </a>
                                    <div class="showcase-rating">
                                        <i class="content_evaluate1 fa-solid fa-star"><span>
                                                <p class="evaluate1">5.0</p>
                                            </span></i>
                                    </div>
    
                                    <div class="price-box">
                                        <del>$5.00</del>
                                        <p class="price">$3.00</p>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="showcase">
    
                                <a href="#" class="showcase-img-box">
                                    <img src="../../../../assets/banner/gundam1.jpg" alt="woolen hat for men"
                                        class="showcase-img" width="75" height="75">
                                </a>
    
                                <div class="showcase-content">
    
                                    <a href="#">
                                        <h4 class="showcase-title">woolen hat for men</h4>
                                    </a>
                                    <div class="showcase-rating">
                                        <i class="content_evaluate1 fa-solid fa-star"><span>
                                                <p class="evaluate1">5.0</p>
                                            </span></i>
                                    </div>
    
                                    <div class="price-box">
                                        <del>$15.00</del>
                                        <p class="price">$12.00</p>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
    
            <div class="product-box">
    
                <!--
                  - PRODUCT GRID
                -->
    
                <div class="product-main">
    
                    <h2 class="title">Mô Hình GunDam</h2>
    
                    <!-- product-gird-1 -->
    
                    <div class="product-grid">
    
                        <div class="showcase" *ngFor="let product of products" >
                            <div class="showcase-banner">
                              <img  width="100" [src]="'http://localhost:8888/api/v1/products/images/' + product.thumbnail" 
                                   [alt]="product.title" class="product-img default">
                              <img [src]="'http://localhost:8888/api/v1/products/images/' + product.thumbnail" 
                                   [alt]="product.title" width="300" class="product-img hover">
                              <div class="showcase-actions">
                                <button class="btn-action">
                                  <ion-icon name="heart-outline"></ion-icon>
                                </button>
                                <button class="btn-action">
                                  <ion-icon name="eye-outline"></ion-icon>
                                </button>
                                <button class="btn-action">
                                  <ion-icon name="repeat-outline"></ion-icon>
                                </button>
                                <button class="btn-action">
                                  <ion-icon name="bag-add-outline"></ion-icon>
                                </button>
                              </div>
                            </div>
                            <div class="showcase-content">
                              <a [routerLink]="['/product-detail', product.id]" class="showcase-category">{{getShortDescription1(product.name_product) }}</a>
                              <a href="#">
                                <h3 class="showcase-title">{{  getShortDescription(product.title) }}</h3>
                              </a>
                              <div class="showcase-rating">
                                <i class="content_evaluate fa-solid fa-star"></i>
                                <p class="evaluate">5.0</p>
                              </div>
                              <div class="price-box">
                                <p class="price">{{ product.discount_price | currency:'VND' }}</p>
                                <del>{{ product.price | currency:'VND' }}</del>
                              </div>
                            </div>
                          </div>
    
                    </div>

                </div>

                <ul class="pagination">
                    <!-- Previous Page -->
                    <li class="pagination-item" [class.disabled]="pageNumber === 0" (click)="goToPage(pageNumber - 1)">
                      <a href="javascript:void(0)" class="pagination-item__link">
                        <i class="pagination-item__icon fa-solid fa-angle-left"></i>
                      </a>
                    </li>
                  
                    <!-- Page Numbers -->
                    <li *ngFor="let page of [].constructor(totalPages); let i = index" [class.pagination-item--active]="i === pageNumber">
                      <a href="javascript:void(0)" class="pagination-item__link" (click)="goToPage(i)">{{ i + 1 }}</a>
                    </li>
                  
                    <!-- Next Page -->
                    <li class="pagination-item" [class.disabled]="pageNumber === totalPages - 1" (click)="goToPage(pageNumber + 1)">
                      <a href="javascript:void(0)" class="pagination-item__link">
                        <i class="pagination-item__icon fa-solid fa-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                  
    
            </div>
    
        </div>
    
    </div>