<div class="body">
<div class="container">
<div class="Form register-form">
    <h2>Đăng Ký Tài Khoản</h2>
    <form action="#">
        <div class="input-box">
            <label for="#">Tên Đăng nhập</label>
            <input type="text" placeholder="Nhập tên người dùng*" class="input-with-placeholder">
           
           
        </div>
        <div class="input-box">
            <input type="text" placeholder="Nhập email*" class="input-with-placeholder">
            <label for="#">Email</label>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Nhập mật khẩu*" class="input-with-placeholder">
            <label for="#">Mật Khẩu</label>
        </div>
        <div class="forgot-section">
            <span><input type="checkbox" name="" id="checked">Nhớ mật khẩu.</span>
            <span><a href="#">Quên mật khẩu?</a></span>
        </div>
        <button class="btn-register">Tạo Tài Khoản</button>
    </form>
    
    <p class="LoginBtn"><a href="#">Đăng Nhập Ngay</a></p>
</div>
</div>
</div>