
<div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">JoyBoy</span>
    </div>
    <ul class="nav-links">
      <li>
        <a >
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name" >Bảng điều khiển</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" >Bảng điều khiển</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name" >Sản phẩm</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name">Tạo sản phẩm</a></li>
          <li><a routerLink="/add-catagory">Thêm danh mục</a></li>
          <li><a routerLink="/add-brand">Thêm thương hiệu</a></li>
          <li><a routerLink="/add-product">Thêm sản phẩm</a></li>
          <li><a routerLink="/add-attribute">Thuộc tính</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Quản lý</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Quản lý</a></li>
          <li><a routerLink="/list-product">sản phẩm</a></li>
          <li><a routerLink="/add-customer">Người dùng</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Phân tích</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Phân tích</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Đồ thị</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Đồ thị</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Xác thực</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Xác thực</a></li>
          <li><a routerLink="/login">Đăng nhập</a></li>
          <li><a href="#">Quên mật khẩu</a></li>
          <li><a href="#">Đặt lại mật khẩu</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Khám phá</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Khám phá</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">Lịch sử</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Lịch sử</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Cài đặt</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Cài đặt</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="image/profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Thanh Hiep</div>
        <div class="job">Admin</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
  </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"></span>
    </div>
  </section>