<div class="product-container">

  <div class="container">
      
      <div class = "card-wrapper">
          <div class = "card">
            <!-- card left -->
            <div class="product-imgs" *ngIf="product">
              <div class="img-display">
                <div class="img-showcase">
                  <img #showcaseImg [src]="currentImage" alt="product image">     
                </div>
              </div>
              <div class="img-select">
                <div *ngFor="let img of product.images" class="img-item" (click)="changeShowcaseImages(img.image_url)">
                  <img  [src]="'http://localhost:8888/api/v1/products/images/' + img.image_url" alt="product image">
                </div>
              </div>
            </div>
            <!-- card right -->
          <div *ngIf="product">
            <div class = "product-content">
              <h2 class = "product-title">{{ product.name_product }}</h2>
              <a href = "#" class = "product-link">visit {{ product.brand.brandName }} store</a>
              <div class = "product-rating">
                <i class="content_evaluate1 fa-solid fa-star"></i>
                <p class="evaluate1">5.0</p>
              </div>
      
              <div class="product-price">
                <p class="last-price">Old Price: <span>{{ currentPrice | currency }}</span></p>
                <p class="new-price">New Price: <span>{{ currentDiscountedPrice | currency:'VND':'symbol':'2.2-2' }} ({{ currentDiscount.toFixed(2) }}%)</span></p>

              </div>
      
              <div class = "product-detail">
                <h2>about this item: </h2>
                <p>{{ product.description }}</p>
                

                <div class="frame-shipping">
                   <p class="text-shipping">Vận chuyển: </p>
                   <p class="conten-shipping">Vận chuyển toàn quốc.</p>
                </div>
                <div class="product-detail-color" *ngIf="product">
                  <!-- Duyệt qua từng loại thuộc tính (attributeType) -->
                  <ng-container *ngFor="let attributeType of uniqueAttributeTypes()">
                    <!-- Hiển thị tên của attributeType -->
                    <p class="text_color">{{ attributeType }}</p>
                    
                    <!-- Hiển thị các thuộc tính (attributes) thuộc loại attributeType -->
                    <div class="frame-color">
                      <div *ngFor="let attribute of filteredAttributes(attributeType)">
                        <button class="btn-color" (click)="changeShowcaseImage(attribute)">
                          <img class="img-btn" [src]="'http://localhost:8888/api/v1/products/images/' + attribute.image_url" alt="">
                          {{ attribute.attributeOption.attribute_option_name }} 
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="frame-quantity-product">
                <p class="value-quantity">Số lượng</p>
                <div class="frame-input">
                  <div class="frame-input-value">
                    <button class="btn-minus"><i class="fa-solid fa-minus"></i></button>
                    <input type="text" placeholder="1" class="input-value-quantity">
                    <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                  </div>
                  <div class="inventory-quantity">20 sản phẩm có sẳn</div>
                </div>
              </div>
      
              <div class = "purchase-info">
                <button type = "button"  routerLink="/shopping-cart" class = "btn_shopping">
                  <i class = "fas fa-shopping-cart"></i>
                  Thêm vào giỏ hàng
                </button>
                <button type = "button" class = "btn_price">Mua ngay</button>
              </div>

      
              <div class = "social-links">
                <p class="text-share">Share At: </p>
                <a href = "#">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#">
                  <i class = "fab fa-instagram"></i>
                </a>
                <a href = "#">
                  <i class = "fab fa-whatsapp"></i>
                </a>
                <a href = "#">
                  <i class = "fab fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
          </div>
      </div>

      <h2 class="title">Thông tin chi tiết</h2>
      <div class="describe_product">
        <p>Combo Mô hình Gundam HG 00 Raiser + Dụng cụ</p>
        <p> - Phát triển trí não cho trẻ hiệu quả đi đôi với niềm vui thích bất tận</p>
        <p>- Phân phối bởi Mô Hình GDC</p>
        <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
           được gọi là Model kit, bao gồm nhiều mảnh nhựa rời được
            gọi là part (bộ phận), khi lắp ráp các part lại với nhau sẽ 
            được mô hình hoàn chỉnh. Các mảnh nhựa rời này được gắn trên khung nhựa gọi là runner.
             Mỗi một hộp sản phẩm Gunpla bao gồm nhiều runner và các phụ kiện liên quan, một tập sách 
             nhỏ (manual) bên trong giới thiệu sơ lược về mẫu Gundam trong hộp và phần hướng dẫn cách lắp ráp.
        </p>
        <p>QUÝ KHÁCH VUI LÒNG CHAT VỚI SHOP TRƯỚC KHI MUA HÀNG TRÁNH SẢN PHẨM HẾT HÀNG ĐỘT XUẤT</p>
        <p>=>> NHẬN ORDER TỪ 7-14 NGÀY ĐỐI VỚI NHỮNG MẶT HÀNG KHÔNG CÓ SẴN</p>
        <p>=>> MỌI CHI TIẾT XIN LIÊN HỆ VỚI CỬA HÀNG</p>
      </div>
      <h2 class="title">Đánh giá sản phẩm</h2>
      <div class="valuate_product">
        <div class="valuate_frame">
          <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
        </div>
        <div class="valuate_frame_test">
          <input type="text" id="name" name="name" required placeholder="Write a public comment ...">
            <div class="valuate_frame_icon">
              <i class="fa-solid fa-camera"></i>
              <i class="fa-solid fa-comment-dollar"></i>
            </div>

        </div>
      </div>

      <div class="valuate_product_bottom">
          <div class="valuate_frame">
            <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
          </div>
          <div class="valuate_frame_info">
            <div class="frame_info_name">
              <p class="name">Name</p>
              <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
                được gọi là Model kit, </p>
            </div>

            <div class="frame_info_images">
              <img  src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
              <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
            </div>

            <div class="frame_info_commmet">
              <p class="comment_date">1 m</p>
              <p class="comment_like">Like</p>
              <p class="comment_reply">Reply</p>
            </div>


        </div>
      
      </div>

      <div class="product-box">
        <div class="product-main">

          <h2 class="title">Mô Hình GunDam</h2>

          <!-- product-gird-1 -->

          <div class="product-grid">

            <div class="showcase">

              <div class="showcase-banner">

                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img default">
                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img hover">

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>

                </div>

              </div>

              <div class="showcase-content">

                <a href="#" class="showcase-category">Mô hình gundam</a>

                <a href="#">
                  <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                </a>

                <div class="showcase-rating">
                  <i class="content_evaluate fa-solid fa-star"></i>
                  <p class="evaluate">5.0</p>
                </div>

                <div class="price-box">
                  <p class="price">100.00 VND</p>
                  <del>150.000 VND</del>
                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">

                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img default">
                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img hover">

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>

                </div>

              </div>

              <div class="showcase-content">

                <a href="#" class="showcase-category">Mô hình gundam</a>

                <a href="#">
                  <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                </a>

                <div class="showcase-rating">
                  <i class="content_evaluate fa-solid fa-star"></i>
                  <p class="evaluate">5.0</p>
                </div>

                <div class="price-box">
                  <p class="price">100.00 VND</p>
                  <del>150.000 VND</del>
                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">

                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img default">
                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img hover">

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>

                </div>

              </div>

              <div class="showcase-content">

                <a href="#" class="showcase-category">Mô hình gundam</a>

                <a href="#">
                  <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                </a>

                <div class="showcase-rating">
                  <i class="content_evaluate fa-solid fa-star"></i>
                  <p class="evaluate">5.0</p>
                </div>

                <div class="price-box">
                  <p class="price">100.00 VND</p>
                  <del>150.000 VND</del>
                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">

                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img default">
                <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img hover">

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>

                </div>

              </div>

              <div class="showcase-content">

                <a href="#" class="showcase-category">Mô hình gundam</a>

                <a href="#">
                  <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                </a>

                <div class="showcase-rating">
                  <i class="content_evaluate fa-solid fa-star"></i>
                  <p class="evaluate">5.0</p>
                </div>

                <div class="price-box">
                  <p class="price">100.00 VND</p>
                  <del>150.000 VND</del>
                </div>

              </div>

            </div>

          </div>
      </div>
  </div>

</div>
