a { text-decoration: none; }

li { list-style: none; }

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, ion-icon, button, a { display: block; }

span { display: inline-block; }

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}




.card-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    border: white 2px solid;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
    margin: 40px;
}
.img-showcase{
    display: flex;
    width: 500px;
    height: 500px;
    transition: all 0.5s ease;
}

.container { padding: 0 15px; }

.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    width: 25%;
    margin: 0.3rem;
    padding: 10px;
    border: 1px solid rgb(0, 176, 80);
    border-radius: 10px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: rgb(0, 176, 80);
    margin: 1rem 0;
}

.showcase-rating {
    justify-content: center;
    display: flex;
    align-items: center; 
    color: rgb(0, 176, 80);
    font-size: 13px;
    padding: 4px 0;
  }

.content_evaluate1{
    color: yellow;
    font-size: 14px;
    margin-top: 6px;
  }
  
  .evaluate1{
    font-size: 14px;
    margin-left: 3px;
  }

  .content_evaluate{
    color: yellow;
    font-size: 15px;
    margin-top: 6px;
  }
  
  .evaluate{
    font-size: 18px;
    margin-left: 3px;
  }

.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

p{
    color: black;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: rgb(0, 176, 80);
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    display: flex;
}
.product-rating span{
    font-weight: 600;
    color: rgb(0, 176, 80);
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
    
}
.last-price span{
    color: rgb(0, 176, 80);
    text-decoration: line-through;
}
.new-price span{
    color: rgb(0, 176, 80);
}
.product-detail h2{
    text-transform: capitalize;
    color: rgb(0, 176, 80);
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 1rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail .product-detail-color{
    margin: 1rem 0; 
    display: block;
    color: rgb(0, 176, 80);
}

.product-detail-color .text_color{
   font-size: 18px;
   margin-top: 5px;
   color: #333;
   width: 20%;
   margin-top: 30px;
}

.frame-shipping{
    display: flex;
}

.frame-shipping .text-shipping{
    margin-right: 30px;
}

.product-detail-color .frame-color{
    display: flex;
    flex-wrap: wrap;
}

.frame-color .btn-color{
    display: flex;
    width: auto;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 176, 80, 0.2);
    font-size: 17px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px ;
} 

 .frame-color .btn-color:hover{
    border: 1px solid rgb(0, 176, 80);
    color: rgb(0, 176, 80);
 }

.btn-color .img-btn{
    height: 30px;
    width: 40px;
    margin-right: 5px;
}

.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    display: flex;
    margin: 1.5rem 0;
}
.purchase-info input{
    border: 1.5px solid rgb(0, 176, 80);
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 0.35rem;
}
.purchase-info input{
    width: 60px;
}


ul{
    color: rgb(0, 176, 80);
}

.purchase-info .btn_shopping{
    cursor: pointer;
    color: #d0011b;
    padding: 12px 40px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: rgb(224, 206, 206);
    border: 1px solid #d0011b;
}

.purchase-info .btn_price{
    cursor: pointer;
    color: #fff;
    padding: 12px 40px;
    background-color: #d0011b;;
    border-radius: 3px;
}

.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}

.social-links .text-share{
    margin-right: 60px;
}

.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: rgb(0, 176, 80);
    border: 1px solid rgb(0, 176, 80);
    margin: 0 0.2rem;
    margin-bottom: 0.65rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.title{
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 176, 80);
    color: #333;
    margin-bottom: 20px;
}

.frame-quantity-product{
    display: flex;
}

.frame-quantity-product .frame-input{
    display: flex;
}

.frame-input .frame-input-value{
    display: flex;
    margin-left: 65px;
    margin-right: 30px;
}

.frame-quantity-product .value-quantity{
    margin-top: 5px;
}

.frame-input-value .btn-minus{
    height: fit-content;
    padding: 5px 10px;
    border-left: 1px solid rgba(0, 176, 80, 0.5);
    border-top: 1px solid rgba(0, 176, 80, 0.5);
    border-bottom: 1px solid rgba(0, 176, 80, 0.5);
}

.frame-input-value .input-value-quantity{
    height: 36px;
    width: 60px;
    border: 1px solid rgba(0, 176, 80, 0.5);
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.frame-input-value .btn-add{
    height: fit-content;
    padding: 5px 10px;
    border-right: 1px solid rgba(0, 176, 80, 0.5);
    border-top: 1px solid rgba(0, 176, 80, 0.5);
    border-bottom: 1px solid rgba(0, 176, 80, 0.5);
}

.frame-input-value .fa-minus{
    color: rgba(0, 176, 80, 0.5);
}

.frame-input-value .fa-plus{
    color: rgba(0, 176, 80, 0.5);
}

.inventory-quantity{
    margin-top: 5px;
}

.valuate_product{
    display: flex;
}


.valuate_product .valuate_frame{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 176, 80);
    border-radius: 50px;
}

.valuate_frame_img{
    padding: 10px;
}



.valuate_frame_test{
    margin-left: 10px;
    height: 80px;
    width: calc(100% - 50px);
    border-radius: 10px;
    border: 1px solid rgb(0, 176, 80);
}

.valuate_frame_test input{
    height: auto;
    border: 1px solid white;
    margin: 5px;
    width: 95%;
    outline: none;
}

.valuate_frame_icon{
    height: auto;
    width: (100% - 50px) ;
    margin: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.valuate_frame_icon .fa-camera{
    color: rgb(0, 176, 80);
    font-size: 18px;
}

.valuate_frame_icon .fa-comment-dollar{
    color: rgb(0, 176, 80);
    font-size: 18px;
}

.valuate_product_bottom{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.valuate_product_bottom .valuate_frame{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 176, 80);
    border-radius: 50px;
    
}

.valuate_frame_info{
    display: block;
    width: calc(100% - 50px);
}


.valuate_frame_info .frame_info_name{
    padding: 10px 10px 1px 10px;
    margin-left: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.valuate_frame_info .frame_info_name p{
    font-size: 18px;
}

.valuate_frame_info .frame_info_name .name{
    font-weight: 500;
    margin-bottom: 1px;
    color: rgb(0, 176, 80);
}

.valuate_frame_info  .valuate_frame_info_img{
    width: 150px;
    height: 150px;
    margin: 20px 20px 5px 10px;
    padding: 10px;
    border: 1px solid rgb(0, 176, 80);
    border-radius: 10px;
}

.valuate_frame_info     .frame_info_commmet{
    display: flex;
    padding: 4px;
    margin-left: 4px;
}

.valuate_frame_info  .comment_date{
    font-weight: 300;
    color:rgb(0, 176, 80);
}

.valuate_frame_info  .comment_like{
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    color:rgb(0, 176, 80);
}

.valuate_frame_info .comment_reply{
    font-weight: 500;
    color:rgb(0, 176, 80);
}

.valuate_frame_info .frame_info_images{
    display: flex;
}



/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main { margin-bottom: 35px; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 15px;
}

.product-grid .showcase {
  border: 1px solid rgb(0, 176, 80);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}

.product-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover { opacity: 1; }

.product-grid .showcase:hover .product-img.default { opacity: 0; }

.product-grid .showcase:hover .product-img { transform: scale(1.1); }

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgb(0, 176, 80);
  font-size: 0.813rem;
  font-weight: 500;
  color: white;
  padding: 0 8px;
  border-radius: 10px;
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black { background: rgb(0, 176, 80); }

.product-grid .showcase-badge.pink { background:rgb(0, 176, 80); }

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition:0.2s ease;
  z-index: 3;
}

.content_evaluate{
  color: yellow;
  font-size: 15px;
  margin-top: 6px;
}

.evaluate{
  font-size: 18px;
  margin-left: 3px;
}

.product-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.product-grid .btn-action {
  background: white;
  color: rgb(0, 176, 80);
  margin-bottom: 5px;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 5px;
  border-radius: 5px;
  transition:  0.2s ease;
}

.product-grid .btn-action:hover {
  background: rgb(0, 176, 80);
  color: white;
  border-color: black;
}

.product-grid .showcase-content { padding: 15px 20px 0; }

.product-grid .showcase-category {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: 0.2s ease;;
}

.product-grid .showcase-title:hover { color: rgb(0, 176, 80);}

.product-grid .showcase-rating {
  display: flex;
  color: hsl(29, 90%, 65%);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: rgb(0, 176, 80);
  margin-bottom: 10px;
}

.product-grid .price { 
    font-weight: 700; 
    color: rgb(0, 176, 80);
}

.product-grid del { color: hsl(0, 0%, 47%); }





@media (min-width: 570px) {
    .valuate_frame_info{
        width: calc(100% - 50px);
    }
  
}
  
  
  @media (min-width: 768px) {

    html { font-size: 17px; }
  
    .container {
      max-width: 750px;
      margin: auto;
    }

  }
  
  @media (min-width: 1024px){
    .container { max-width: 980px; 
    }

    .card{
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }

    .valuate_frame_info{
        width: auto
    }
    .product-box { min-width: calc(75% - 15px); }

    .product-grid { grid-template-columns: repeat(3, 1fr); }
  
  }
  
  @media (min-width: 1200px) {
  
    .container { max-width: 1200px; }
  
    .product-container .container {
        position: relative;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .product-grid { grid-template-columns: repeat(4, 1fr); }
  
  }
  
  @media (min-width: 1400px) {
  
    html { font-size: 18px; }
  
    .container { max-width: 1350px; }
  }


  
  