<div class="body">
    <div class="container">
        <div class="Form login-form">
        <h2>Đăng Nhập Tài Khoản</h2>
        <form action="#">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="#">Tên Người Dùng</label>
                <input type="text" placeholder="Nhập tên người dùng*"  class="input-with-placeholder">
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="text" placeholder="Nhập mật khẩu*" class="input-with-placeholder">
                <label for="#">Mật Khẩu</label>
              
            </div>
            <div class="forgot-section">
                <span><input type="checkbox" name="" id="checked">Nhớ mật khẩu</span>
                <span><a href="#">Quên mật khẩu?</a></span>
            </div>
            <button class="btn">Đăng Nhập</button>
        </form>
        <p>hoặc đăng nhập với.</p>
        <div class="social-media">
            <ion-icon name="logo-facebook"></ion-icon>
    
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-google"></ion-icon>
        </div>
        <p class="RegisteBtn RegiBtn"> <a routerLink="/register">Đăng Ký Tài Khoản</a></p>
    </div>
    
    </div>
    </div>