<div class="product-container">

  <div class="container">

    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img #showcaseImg src="../../../../assets/banner/gundam1.jpg" alt="shoe image">
            </div>
          </div>
          <div class="img-select" (click)="changeShowcaseImage($event)">
            <div class="img-item">

              <img src="../../../../assets/banner/gundam1.jpg" alt="shoe image">

            </div>
            <div class="img-item">

              <img src="../../../../assets/banner/vn-11134207-7r98o-lq033zmdnlci02.jpg" alt="shoe image">

            </div>
            <div class="img-item">

              <img src="../../../../assets/banner/vn-11134207-7r98o-lq033zmdjdn625.jpg" alt="shoe image">

            </div>
            <div class="img-item">

              <img src="../../../../assets/banner/vn-11134207-7r98o-lq033zmdnlci02.jpg" alt="shoe image">

            </div>
          </div>
        </div>
        <!-- card right -->
        <div class="product-content">
          <h2 class="product-title">Mô hình lắp ráp HG 1/144 1/100</h2>
          <div class="product-rating">
            <i class="content_evaluate1 fa-solid fa-star"></i>
            <p class="evaluate1">5.0</p>
          </div>

          <div class="product-price">
            <p class="last-price">Giá cũ: <span>200.000 đ</span></p>
            <p class="new-price">Giảm giá: <span>150.000 đ</span></p>
          </div>

          <div class="product-detail">
            <h2>Về Sản Phẩm: </h2>
            <p>[ Nhiều loại ] Mô hình lắp ráp HG 1/144, Đồ chơi lắp ráp trưng bày AERIAL Fighter 03, Astray Red Frame -
              autospeed</p>
            <div class="product-detail-color">
              <li>Trạng thái hàng: <span>Còn hàng</span></li>
              <li>Loại sản phẩm: <span>Mô hình Gundam</span></li>
              <li>Giao hàng: <span>Giao hàng trên toàn quốc</span></li>
            </div>
          </div>

          <div class="purchase-info">
            <button type="button" class="btn">
              Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn">Mua Ngay</button>
          </div>


          <div class="social-links">
            <p>Chia sẻ: </p>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title">Thông tin chi tiết</h2>
    <div class="describe_product">
      <p>Combo Mô hình Gundam HG 00 Raiser + Dụng cụ</p>
      <p> - Phát triển trí não cho trẻ hiệu quả đi đôi với niềm vui thích bất tận</p>
      <p>- Phân phối bởi Mô Hình GDC</p>
      <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
        được gọi là Model kit, bao gồm nhiều mảnh nhựa rời được
        gọi là part (bộ phận), khi lắp ráp các part lại với nhau sẽ
        được mô hình hoàn chỉnh. Các mảnh nhựa rời này được gắn trên khung nhựa gọi là runner.
        Mỗi một hộp sản phẩm Gunpla bao gồm nhiều runner và các phụ kiện liên quan, một tập sách
        nhỏ (manual) bên trong giới thiệu sơ lược về mẫu Gundam trong hộp và phần hướng dẫn cách lắp ráp.
      </p>
      <p>QUÝ KHÁCH VUI LÒNG CHAT VỚI SHOP TRƯỚC KHI MUA HÀNG TRÁNH SẢN PHẨM HẾT HÀNG ĐỘT XUẤT</p>
      <p>=>> NHẬN ORDER TỪ 7-14 NGÀY ĐỐI VỚI NHỮNG MẶT HÀNG KHÔNG CÓ SẴN</p>
      <p>=>> MỌI CHI TIẾT XIN LIÊN HỆ VỚI CỬA HÀNG</p>
    </div>
    <h2 class="title">Đánh giá sản phẩm</h2>
    <div class="valuate_product">
      <div class="valuate_frame">
        <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
      </div>
      <div class="valuate_frame_test">
        <input type="text" id="name" name="name" required placeholder="Write a public comment ...">
        <div class="valuate_frame_icon">
          <i class="fa-solid fa-camera"></i>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

      </div>
    </div>

    <div class="valuate_product_bottom">
      <div class="valuate_frame">
        <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
      </div>
      <div class="valuate_frame_info">
        <div class="frame_info_name">
          <p class="name">Name</p>
          <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
            được gọi là Model kit, </p>
        </div>

        <div class="frame_info_images">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
        </div>

        <div class="frame_info_commmet">
          <p class="comment_date">1 m</p>
          <p class="comment_like">Like</p>
          <p class="comment_reply">Reply</p>
        </div>


      </div>

    </div>

    <div class="valuate_product_bottom">
      <div class="valuate_frame">
        <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
      </div>
      <div class="valuate_frame_info">
        <div class="frame_info_name">
          <p class="name">Name</p>
          <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
            được gọi là Model kit, </p>
        </div>

        <div class="frame_info_images">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
        </div>

        <div class="frame_info_commmet">
          <p class="comment_date">1 m</p>
          <p class="comment_like">Like</p>
          <p class="comment_reply">Reply</p>
        </div>


      </div>

    </div>

    <div class="valuate_product_bottom">
      <div class="valuate_frame">
        <img src="../../../../assets/banner/gundam1.jpg" class="valuate_frame_img" alt="">
      </div>
      <div class="valuate_frame_info">
        <div class="frame_info_name">
          <p class="name">Name</p>
          <p>Mô hình gundam (gunpla) là một loại mô hình nhựa
            được gọi là Model kit, </p>
        </div>

        <div class="frame_info_images">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
          <img src="../../../../assets/banner/gundam1.jpg" alt="" class="valuate_frame_info_img">
        </div>

        <div class="frame_info_commmet">
          <p class="comment_date">1 m</p>
          <p class="comment_like">Like</p>
          <p class="comment_reply">Reply</p>
        </div>


      </div>

    </div>

    <div class="product-box">
      <div class="product-main">

        <h2 class="title">Sản Phẩm Khác</h2>

        <!-- product-gird-1 -->

        <div class="product-grid">

          <div class="showcase">

            <div class="showcase-banner">

              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img default">
              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img hover">

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="#" class="showcase-category">Mô hình gundam</a>

              <a href="#">
                <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
              </a>

              <div class="showcase-rating">
                <i class="content_evaluate fa-solid fa-star"></i>
                <p class="evaluate">5.0</p>
              </div>

              <div class="price-box">
                <p class="price">100.00 VND</p>
                <del>150.000 VND</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">

              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img default">
              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img hover">

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="#" class="showcase-category">Mô hình gundam</a>

              <a href="#">
                <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
              </a>

              <div class="showcase-rating">
                <i class="content_evaluate fa-solid fa-star"></i>
                <p class="evaluate">5.0</p>
              </div>

              <div class="price-box">
                <p class="price">100.00 VND</p>
                <del>150.000 VND</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">

              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img default">
              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img hover">

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="#" class="showcase-category">Mô hình gundam</a>

              <a href="#">
                <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
              </a>

              <div class="showcase-rating">
                <i class="content_evaluate fa-solid fa-star"></i>
                <p class="evaluate">5.0</p>
              </div>

              <div class="price-box">
                <p class="price">100.00 VND</p>
                <del>150.000 VND</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">

              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img default">
              <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                class="product-img hover">

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="#" class="showcase-category">Mô hình gundam</a>

              <a href="#">
                <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
              </a>

              <div class="showcase-rating">
                <i class="content_evaluate fa-solid fa-star"></i>
                <p class="evaluate">5.0</p>
              </div>

              <div class="price-box">
                <p class="price">100.00 VND</p>
                <del>150.000 VND</del>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>