<div class="banner">

  <div class="container">

    <div class="slider-container has-scrollbar">

      <div class="slider-item">
        <img src="../../../../assets/banner/gundam.jpg" alt="" class="banner-img">
        <div class="banner-content">

          <p class="banner-subtitle">Mô Hình GunDam HG</p>

          <h2 class="banner-title">HG 1/144 Gundam TR-6 [Kihar II] </h2>

          <p class="banner-text">
            Giảm giá còn: <b>200</b>.000 VND
          </p>

          <a href="#" class="banner-btn">Mua Ngay</a>

        </div>
      </div>
    </div>
  </div>

</div>
