<!--
    - FOOTER
  -->

<footer>

  <div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">DANH MỤC MẶT HÀNG</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">QUẦN ÁO :</h3>

        <a href="#" class="footer-category-link">Áo-Hoddie</a>
        <a href="#" class="footer-category-link">Áo Sơ Mi</a>
        <a href="#" class="footer-category-link">Găng Tay & Tất</a>
        <a href="#" class="footer-category-link">Áo Thun</a>
        <a href="#" class="footer-category-link">Váy&Đầm</a>
        <a href="#" class="footer-category-link">Quần Áo Mùa Hè</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Đồ Thể Thao :</h3>

        <a href="#" class="footer-category-link">Găng Tay Thể Thao</a>
        <a href="#" class="footer-category-link">Giày Thể Thao</a>
        <a href="#" class="footer-category-link">Áo Thể Thao</a>
        <a href="#" class="footer-category-link">Quần Thể Thao</a>
        <a href="#" class="footer-category-link">Vật Dụng Thể Thao</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Mô Hình :</h3>

        <a href="#" class="footer-category-link">GunDam</a>
        <a href="#" class="footer-category-link">One Piece</a>
        <a href="#" class="footer-category-link">Dragon Ball</a>
        <a href="#" class="footer-category-link">Mô Hình TRANFORMER</a>
        <a href="#" class="footer-category-link">Mô Hình KAMEN RIDER</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Bàn Phím :</h3>

        <a href="#" class="footer-category-link">Bàn Phím Cơ</a>
        <a href="#" class="footer-category-link">Bàn Phím Dây</a>
        <a href="#" class="footer-category-link">Bàn Phím Không Dây</a>
        <a href="#" class="footer-category-link">Blue Switch</a>
        <a href="#" class="footer-category-link">Red Switch</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Danh Mục Phổ Biến</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Quần Áo</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Mô Hình</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đồ Thể Thao</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Bàn Phím</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Sản Phẩm</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sản Phẩm Bán Chạy</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sản Phẩm Mới</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sản Phẩm Giảm Giá</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sản Phẩm Sắp Về</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">JoyBoy Shop</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giao Hàng</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Các điều khoản và điều kiện</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Về Chúng Tôi</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Thanh toán an toàn</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Dịch Vụ</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giao Hàng</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Thanh Toán</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giảm Giá</a>
        </li>
      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Kết Nối</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            DT741, 05 ấp An Hòa
            xã Tân Tiến, huyện Đồng Phú, tỉnh Bình Phước, Việt Nam
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">(+84) 0353-494-201</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:dienthao131@gmail.com" class="footer-nav-link">dienthao131gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Theo Dõi</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img src="../../../../assets/banner/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Bản quyền &copy; <a href="#">JoyBoy</a> Mọi quyền được bảo lưu.
      </p>

    </div>

  </div>

</footer>