

<div class="product-container">

    <div class="container">

<section class = "main-container-left">
<h2>Top Stories</h2>
<div class = "container-top-left">
    <article >   
        <img src = "../../../../assets/banner/gundam1.jpg" width="400" >

        <div>
            <h3>Best Used Cars Under $20, 000 for families</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>

            <a href = "#">Read More <span>>></span></a>
        </div>
    </article>
</div>

<div class = "container-bottom-left">
    <article>
        <img src = "../../../../assets/banner/gundam1.jpg" width="200">
        <div>
            <h3>Best smart speakers for the year</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate. Explicabo, nihil?</p>

            <a href = "#">Read More <span>>></span></a>
        </div>
    </article>

    <article>
        <img src = "../../../../assets/banner/gundam1.jpg" width="200">
        <div>
            <h3>Best smart speakers for the year</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate. Explicabo, nihil?</p>

            <a href = "#">Read More <span>>></span></a>
        </div>
    </article>
</div>
</section>

<section class = "main-container-right">
<h2>Latest Stories</h2>

<article>
    <div>
        <h2>Here's how to track your stimulus check with the IRS Get My Payment Portal</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

        <a href = "#">Read More <span>>></span></a>
    </div>
    <img src = "../../../../assets/banner/gundam1.jpg" >
</article>

<article>
    <div>
        <h2>The best outdoor games to play with your family</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

        <a href = "#">Read More <span>>></span></a>
    </div>
    <img src = "../../../../assets/banner/gundam1.jpg">
</article>

<article>
    <div>
        <h2>Why walk? Check out the best electric scooters and e-bikes for 2020</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

        <a href = "#">Read More <span>>></span></a>
    </div>
    <img src = "../../../../assets/banner/gundam1.jpg">
</article>

<article>
    <div>
        <h2>Disneyland Paris will stream its Lion King stage show Friday night</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

        <a href = "#">Read More <span>>></span></a>
    </div>
    <img src = "../../../../assets/banner/gundam1.jpg">
</article>

<article>
    <div>
        <h2>Looking at a phone's lock screen also requries a warrant, judge rules</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

        <a href = "#">Read More <span>>></span></a>
    </div>
    <img src = "../../../../assets/banner/gundam1.jpg">
</article>
</section>
</div>
</div>

