
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading: 'Montserrat', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

/* global styling */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}



/* main container left */
h2{
    color: rgb(0, 176, 80);
}

a{
    color: rgb(0, 176, 80);
}

.main-container-left{
    padding: 30px 10px;
    width: 100%;
    max-width: 700px;
}

.main-container-left article{
    border-bottom: 1px solid #7ac64d;
    padding-bottom: 20px;
}

p{
    margin-right: 20px;
    color: rgb(0, 176, 80);
}


.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
    color: rgb(0, 176, 80);
}

.container-bottom-left article{
    display: block; 
    border-bottom: 1px solid #7ac64d;
    padding-bottom: 20px;
}

.container-bottom-right article{
    display: block; 
    border-bottom: 1px solid #7ac64d;
    padding-bottom: 20px;
}





.main-container-left p{
    font-size: 15px;
    font-weight: 300;
}

.container-bottom-left img{
    justify-content: center;
    align-items: center;
}

.container-top-left{
   padding: 15px 0;
}


/*** main container right */

.main-container-right{
    padding: 30px 10px;
    width: 100%;
    
}

.main-container-right article{
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d;
}

.main-container-right article:last-child{
    border-bottom: none;
}

.main-container-right img{
    width: 85px;
    height: 85px;
    align-self: center;
    margin-bottom: 20px;
}

.main-container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.main-container-right article h2{
    font-size: 18px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 475px) {
    .container-top-left img{
        width: 100%;
    }

}


@media (min-width: 480px) {

}

@media (min-width: 570px) {
    
    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }   
 
    .main-container-left{
        min-width: calc(100%);
        font-size: 18px;
    }
    .main-container-right{
        min-width: calc(100%);
    } 

    .container-top-left img{
        width: 90%;
    }

    .container-bottom-left img{
        width: 50%;
    } 


    .main-container-right h2{
       font-size: 30px;
    } 

    .main-container-right article {
        align-items: center; 
    }
    
    .main-container-right article div {
        flex: 1; 
    }
    
    .main-container-right article img {
        max-width: 200px; 
        margin-left: 20px;
    }

   
    
}

@media (min-width: 768px) {

    html { font-size: 17px; }

  
    .container {
      max-width: 750px;
      margin: auto;
    }

    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .main-container-left {
        width: calc(50% - 10px); /* 50% của tổng độ rộng và trừ đi khoảng cách giữa các cột */
    }
}

@media (min-width: 1024px) {
    .container { max-width: 980px; }

    .product-container .container {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 30px;
    }

    .main-container-left{
        min-width: calc(47% - 15px);
        font-size: 18px;
    }


    .main-container-right{
        min-width: calc(53% - 15px);
    }

    .container-bottom-left{
        grid-template-columns: repeat(1, 1fr);
    }

    .main-container-right article {
        display: flex; 
        align-items: center; 
    }
    
    .main-container-right article div {
        flex: 1; 
    }
    
    .main-container-right article img {
        max-width: 200px; 
        margin-left: 20px;
    }

    .container-top-left img{
        width: 60%;
    }

    .container-bottom-left img{
        width: 30%;
    } 
}

@media (min-width: 1200px) {
    .container { max-width: 1200px; }
}

@media (min-width: 1400px) {
    html { font-size: 18px; }

    .container { max-width: 1350px; }

    
}