<div class="card">
    <table>
        <thead>
          <tr>
            <th scope="col" width="80px">Hình ảnh</th>
            <th scope="col" width="100px">Tên sản phẩm</th>
            <th scope="col" width="100px">Tiêu đề</th>
            <th scope="col" width="100px">Giá gốc</th>
            <th scope="col" width="80px">Giảm giá</th>
            <th scope="col" width="70px" >Thời gian tạo</th>
            <th scope="col" width="70px" >thời gian sửa</th>
            <th scope="col" width="120px">Mô tả</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td data-label="Account">
              <img [src]="'http://localhost:8888/api/v1/products/images/' + product.thumbnail" class="tab-img">{{ product.name_product }}
            </td>
            <td data-label="Due Date">Hình ảnh 1</td>
            <td data-label="Amount">{{ product.title }}</td>
            <td data-label="Price">{{ product.price }}</td>
            <td data-label="Discount Price">{{ product.discount_price }}</td>
            <td data-label="Created At">{{ product.created_at | date: 'dd/MM/yyyy' }}</td>
            <td data-label="Updated At">{{ product.updated_at | date: 'dd/MM/yyyy'}}</td>
            <td data-label="Description">{{ product.description }}</td>
          </tr>
        </tbody>
      </table>
</div>