<div class="product-container">

    <div class="container">

        <div class="shopping-cart">
            <div class="shopping-cart-top">
                <div class="square"></div>
                <div class="product">Sản phẩm</div>
                <div class="unit-price">Đơn giá</div>
                <div class="quantity">Số lượng</div>
                <div class="money">Số tiền</div>
                <div class="operation">Thao tác</div>             
            </div>

            <div class="shopping-cart-content">
                <div class="shopping-cart-bottom">

                    <div class="square"></div>
    
                    <div class="img">
                        <img class="images" src="../../../../assets/banner/gundam1.jpg" alt="" >
                    </div>
    
                    <div class="content">Hình ảnh gundam là một mô hình lắp ráp từ các logo hello chao tat ca moi nguoi</div>
    
                    <div class="product_color">
                        <button class="color-frame">
                            <div class="classify">
                                Phân loại hàng
                                <i class="fa-solid fa-caret-down"></i>
    
                            </div>
    
                            <div class="color-code">
                                2438C2
                            </div>
                        </button>
                    </div>
    
                    <div class="price">
                        <span class="initial-price">340.000đ</span>
                        <span class="discount">170.000đ</span>
                    </div>
    
                    <div class="quantity">
                        <button class="reduce">
                            <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon"><polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon></svg>
                        </button>
                        <input class="quantity-input" type="text" role="spinbutton">
                        <button class="increase">
                            <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign"><polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon></svg>
                        </button>
                    </div>
    
                    <div class="product_money">510.000đ </div>
    
                    <div class="product_operation">
                        <button class="delete"> Xóa</button>
                    </div>
    
                </div>

                <div class="shopping-cart-discount">
                    <div>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <div class="discount-content">
                        Thêm mã giảm giá cho shop
                    </div>

                </div>

            </div>

            <div class="shopping-cart-purchase">
                <div class="square-purchase"></div>
                <div class="purchase-content">Chọn tất cả (2)</div>
                <div class="product_purchase">
                    <button class="delete-purchase"> Xóa</button>
                </div>
                <div class="total-payment">Tổng thanh toán (2 sản phẩm):</div>
                <div class="total-amount">385.400đ</div>
                <Button routerLink="/payment" class="Purchase">Mua Hàng</Button>
            </div>
        </div>

        <div class="product-box">
            <div class="product-main">
  
              <h2 class="title">Mô Hình GunDam</h2>
    
              <!-- product-gird-1 -->
    
              <div class="product-grid">
    
                <div class="showcase">
    
                  <div class="showcase-banner">
    
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img default">
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img hover">
    
                    <div class="showcase-actions">
    
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                      </button>
    
                    </div>
    
                  </div>
    
                  <div class="showcase-content">
    
                    <a href="#" class="showcase-category">Mô hình gundam</a>
    
                    <a href="#">
                      <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                    </a>
    
                    <div class="showcase-rating">
                      <i class="content_evaluate fa-solid fa-star"></i>
                      <p class="evaluate">5.0</p>
                    </div>
    
                    <div class="price-box">
                      <p class="price">100.00 VND</p>
                      <del>150.000 VND</del>
                    </div>
    
                  </div>
    
                </div>
    
                <div class="showcase">
    
                  <div class="showcase-banner">
    
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img default">
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img hover">
    
                    <div class="showcase-actions">
    
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                      </button>
    
                    </div>
    
                  </div>
    
                  <div class="showcase-content">
    
                    <a href="#" class="showcase-category">Mô hình gundam</a>
    
                    <a href="#">
                      <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                    </a>
    
                    <div class="showcase-rating">
                      <i class="content_evaluate fa-solid fa-star"></i>
                      <p class="evaluate">5.0</p>
                    </div>
    
                    <div class="price-box">
                      <p class="price">100.00 VND</p>
                      <del>150.000 VND</del>
                    </div>
    
                  </div>
    
                </div>
    
                <div class="showcase">
    
                  <div class="showcase-banner">
    
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img default">
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img hover">
    
                    <div class="showcase-actions">
    
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                      </button>
    
                    </div>
    
                  </div>
    
                  <div class="showcase-content">
    
                    <a href="#" class="showcase-category">Mô hình gundam</a>
    
                    <a href="#">
                      <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                    </a>
    
                    <div class="showcase-rating">
                      <i class="content_evaluate fa-solid fa-star"></i>
                      <p class="evaluate">5.0</p>
                    </div>
    
                    <div class="price-box">
                      <p class="price">100.00 VND</p>
                      <del>150.000 VND</del>
                    </div>
    
                  </div>
    
                </div>
    
                <div class="showcase">
    
                  <div class="showcase-banner">
    
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img default">
                    <img src="../../../../assets/banner/gundam1.jpg" alt="Mens Winter Leathers Jackets" width="300"
                      class="product-img hover">
    
                    <div class="showcase-actions">
    
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                      </button>
    
                      <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                      </button>
    
                    </div>
    
                  </div>
    
                  <div class="showcase-content">
    
                    <a href="#" class="showcase-category">Mô hình gundam</a>
    
                    <a href="#">
                      <h3 class="showcase-title">MÔ HÌNH LẮP RÁP HG 1/144 AERIAL FIGHTER 03</h3>
                    </a>
    
                    <div class="showcase-rating">
                      <i class="content_evaluate fa-solid fa-star"></i>
                      <p class="evaluate">5.0</p>
                    </div>
    
                    <div class="price-box">
                      <p class="price">100.00 VND</p>
                      <del>150.000 VND</del>
                    </div>
    
                  </div>
    
                </div>
    
              </div>
          </div>
      </div>

    </div>

</div>
