.container { padding: 0 15px; }


a { text-decoration: none; }

li { list-style: none; }

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, ion-icon, button, a { display: block; }

span { display: inline-block; }

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

.title{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 176, 80);
  color: #333;
  margin-bottom: 20px;
}

.shopping-cart{
  margin-bottom: 50px;
}


.shopping-cart-top{
  border: 1px solid rgb(0, 176, 80);
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.shopping-cart-top .square{
  border: 1px solid rgb(0, 176, 80);
  cursor: pointer;
}

.shopping-cart-top  .product{
  padding: 0 20px;
  color: rgb(0, 176, 80);
}

.shopping-cart-top .unit-price{
  margin-left: auto;
  color: rgb(0, 176, 80);
}

.shopping-cart-top .quantity{
  margin-left: auto;
  margin-left: 135px;
  color: rgb(0, 176, 80);
}


.shopping-cart-top .money{
  margin-left: auto;
  margin-left: 100px;
  color: rgb(0, 176, 80);
}


.shopping-cart-top .operation{
  margin-left: auto;
  margin-left: 65px;
  color: rgb(0, 176, 80);
}

p{
  margin: 0;
  padding: 0;
}

.shopping-cart-content{
  display: block;
}

.shopping-cart-bottom{
  border: 1px solid rgb(0, 176, 80);
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 20px 40px;
}

.shopping-cart-bottom .content{
   width: 20%;
   color: black;
}

.shopping-cart-bottom .square{
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 176, 80);
  cursor: pointer;
}

.shopping-cart-bottom .img{
  margin: 0 20px;
  color: rgb(0, 176, 80);
}

.shopping-cart-bottom .img .images{
  width: 110px;
  height: 110px;
}

.shopping-cart-bottom .product_color{
  margin-left: auto;
  color: rgb(0, 176, 80);
}


.shopping-cart-bottom .price{
  margin-left: auto;
  color: rgb(0, 176, 80);
}

.shopping-cart-bottom .price .initial-price{
  margin-right: 10px;
  text-decoration: line-through;
  color: black;
}

.shopping-cart-bottom .price .discount{
  color: black;
}

.shopping-cart-bottom .product_operation .delete{
  color: rgb(0, 176, 80);
}


.shopping-cart-bottom .quantity{
  margin-left: auto;
  color: rgb(0, 176, 80);
}

.shopping-cart-bottom .product_money{
  margin-left: auto;
  color: black;
}

.shopping-cart-bottom .product_operation{
  margin-left: auto;
  margin-right: 10px;
  color: rgb(0, 176, 80);
}

.shopping-cart-bottom .product_operation .delete{
  color: black;
}

.shopping-cart-bottom .quantity{
  display: flex;
}

.shopping-cart-bottom .quantity .quantity-input{
  width: 50px;
  height: 35px;
  border: 1px solid rgb(0, 176, 80);
}

.shopping-cart-bottom .quantity .reduce{
  height: 35px;
  width: 35px;
  align-items: center;
  background-color: white;
  border-top: 1px solid rgb(0, 176, 80);
  border-left: 1px solid rgb(0, 176, 80);
  border-bottom: 1px solid rgb(0, 176, 80);
}

.shopping-cart-bottom .quantity .reduce  .shopee-svg-icon{
  font-size: 10px;
  height: 10px;
  width: 10px;
}

.shopping-cart-bottom .quantity .increase{
  height: 35px;
  width: 35px;
  background-color: white;
  border-top: 1px solid rgb(0, 176, 80);
  border-right: 1px solid rgb(0, 176, 80);
  font-size: 20px;
  border-bottom: 1px solid rgb(0, 176, 80);
}

.shopping-cart-bottom .quantity .increase  .shopee-svg-icon{
  height: 10px;
  width: 10px;
  font-size: 10px;
}


.shopping-cart-discount{
  border-left: 1px solid rgb(0, 176, 80);
  border-right: 1px solid rgb(0, 176, 80);
  border-bottom: 1px solid rgb(0, 176, 80);
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.shopping-cart-discount .fa-tag{
  margin-right: 20px;
  color: rgb(0, 176, 80);
  font-size: 25px;
}

.shopping-cart-discount .discount-content{
  color: rgb(0, 176, 80);
  font-weight: 500;
}

.shopping-cart-purchase{
  border: 1px solid rgb(0, 176, 80);
  display: flex;
  margin-top: 40px;
  align-items: center;
  padding: 20px 40px;
}

.product_color .color-frame .fa-caret-down{
  color: black;
}

.product_color .color-frame  .classify{
  color: black;
}

.product_color .color-frame .color-code{
  color: black;
}

.shopping-cart-purchase .square-purchase{
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 176, 80);
  cursor: pointer;
}

.shopping-cart-purchase .purchase-content{
  margin-left: 20px;
  color: rgb(0, 176, 80);
  font-size: 18px;
}

.shopping-cart-purchase .product_purchase .delete-purchase{
  color: rgb(0, 176, 80);
  margin-left: 30px;
}

.shopping-cart-purchase .total-payment{
  font-weight: 500;
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
  color: rgb(0, 176, 80);
}

.shopping-cart-purchase .total-amount{
  font-weight: 500;
  margin-right: 30px;
  color: rgb(0, 176, 80);
}

.shopping-cart-purchase .Purchase{
  padding: 10px;
  font-weight: 500;
  color: white;
  background-color: rgb(0, 176, 80);
}

.shopping-cart-purchase .Purchase:hover{
  background-color: rgb(155, 176, 80);
}




/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main { margin-bottom: 35px; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 15px;
}

.product-grid .showcase {
  border: 1px solid rgb(0, 176, 80);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}

.product-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover { opacity: 1; }

.product-grid .showcase:hover .product-img.default { opacity: 0; }

.product-grid .showcase:hover .product-img { transform: scale(1.1); }

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgb(0, 176, 80);
  font-size: 0.813rem;
  font-weight: 500;
  color: white;
  padding: 0 8px;
  border-radius: 10px;
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black { background: rgb(0, 176, 80); }

.product-grid .showcase-badge.pink { background:rgb(0, 176, 80); }

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition:0.2s ease;
  z-index: 3;
}

.content_evaluate{
  color: yellow;
  font-size: 15px;
  margin-top: 6px;
}

.evaluate{
  font-size: 18px;
  margin-left: 3px;
}

.product-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.product-grid .btn-action {
  background: white;
  color: rgb(0, 176, 80);
  margin-bottom: 5px;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 5px;
  border-radius: 5px;
  transition:  0.2s ease;
}

.product-grid .btn-action:hover {
  background: rgb(0, 176, 80);
  color: white;
  border-color: black;
}

.product-grid .showcase-content { padding: 15px 20px 0; }

.product-grid .showcase-category {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: 0.2s ease;;
}

.product-grid .showcase-title:hover { color: rgb(0, 176, 80); }

.product-grid .showcase-rating {
  display: flex;
  color: hsl(29, 90%, 65%);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: rgb(0, 176, 80);
  margin-bottom: 10px;
}

.product-grid .price { font-weight: 700; }

.product-grid del { color: hsl(0, 0%, 47%); }




@media (max-width: 570px) {

  
  .shopping-cart-top .money{
    margin-left: 15px;
  }

  .shopping-cart-top .quantity{
    margin-left: 10px;
  }

  .shopping-cart-top .operation{
    margin-left: 10px;
  }

  .shopping-cart-top,
  .shopping-cart-bottom,
  .shopping-cart-discount,
  .shopping-cart-purchase{
    padding: 10px 10px;
  }
  
  .shopping-cart-bottom .img .images{
    width: 30px;
    height: 30px;
  }

  .shopping-cart-bottom .content{
    font-size: 5px;
  }

  .product_color .color-frame  .classify{
    font-size: 5px;
    display: flex;
  }

  .product_color .color-frame .color-code,
  .price .initial-price,
  .price .discount,
  .shopping-cart-bottom .product_money,
  .shopping-cart-bottom .product_operation .delete{
    font-size: 5px;
  }

  .shopping-cart-top  .product,
  .shopping-cart-top .unit-price,
  .shopping-cart-top .quantity,
  .shopping-cart-top .money,
  .shopping-cart-top .operation,
  .shopping-cart-purchase .purchase-content,
  .shopping-cart-purchase .product_purchase .delete-purchase,
  .shopping-cart-purchase .total-payment,
  .shopping-cart-purchase .total-amount{
    font-size: 6px;
  }

  .shopping-cart-bottom .quantity .reduce,
  .shopping-cart-bottom .quantity .increase{
    height: 10px;
    width: 10px;
  }

  .quantity .reduce  .shopee-svg-icon{
    margin-bottom: 13px;
  }

  .shopping-cart-bottom .quantity .quantity-input{
    width: 20px;
    height: 10px;
  }

  .quantity .increase  .shopee-svg-icon{
    margin-bottom: 20px;
  }

  .shopping-cart-top .square,
  .shopping-cart-bottom .square,
  .shopping-cart-purchase .square-purchase{
    width: 8px;
    height: 8px;
  }

  .shopping-cart-purchase .Purchase{
    width: 160px;
    height: 40px;
    font-size: 10px;
  }
}
  
  
@media (min-width: 768px) {
  
    .container {
      max-width: 750px;
      margin: auto;
    }

    .product-grid { grid-template-columns: repeat(3, 1fr); }

    .shopping-cart-top .money{
      margin-left: 25px;
    }

    .shopping-cart-top .quantity{
      margin-left: 45px;
    }

    .shopping-cart-top .operation{
      margin-left: 10px;
    }

    .shopping-cart-top,
    .shopping-cart-bottom,
    .shopping-cart-discount,
    .shopping-cart-purchase{
      padding: 20px 20px;
    }
    
    .shopping-cart-bottom .img .images{
      width: 70px;
      height: 70px;
    }

    .shopping-cart-bottom .content{
      font-size: 12px;
      width: 16%;
    }

    .product_color .color-frame  .classify{
      font-size: 12px;
      display: flex;
    }

    .product_color .color-frame .color-code,
    .price .initial-price,
    .price .discount,
    .shopping-cart-bottom .product_money,
    .shopping-cart-bottom .product_operation .delete{
      font-size: 12px;
    }

    .shopping-cart-top  .product,
    .shopping-cart-top .unit-price,
    .shopping-cart-top .quantity,
    .shopping-cart-top .money,
    .shopping-cart-top .operation,
    .shopping-cart-purchase .purchase-content,
    .shopping-cart-purchase .product_purchase .delete-purchase,
    .shopping-cart-purchase .total-payment,
    .shopping-cart-purchase .total-amount{
      font-size: 14px;
    }

    .shopping-cart-bottom .quantity .reduce,
    .shopping-cart-bottom .quantity .increase{
      height: 20px;
      width: 20px;
    }

    .quantity .reduce  .shopee-svg-icon{
      font-size: 2px;
      margin-bottom: 13px;
    }

    .shopping-cart-bottom .quantity .quantity-input{
      width: 30px;
      height: 20px;
    }

    .quantity .increase  .shopee-svg-icon{
      font-size: 2px;
      margin-bottom: 20px;
    }

    .shopping-cart-top .square,
    .shopping-cart-bottom .square,
    .shopping-cart-purchase .square-purchase{
      width: 15px;
      height: 15px;
    }

    .shopping-cart-purchase .Purchase{
      width: 160px;
      height: 40px;
      font-size: 14px;
    }
}
  
@media (min-width: 1024px){
    .container { max-width: 980px; 
    }

    .product-box { min-width: calc(75% - 15px); }

    .product-grid { grid-template-columns: repeat(4, 1fr); }

    .shopping-cart-top .quantity,
    .shopping-cart-top .money{
      margin-left: 60px;
    }
    
    .shopping-cart-bottom .img{
      margin: 0 10px;
    }
    
    .shopping-cart-top,
    .shopping-cart-bottom,
    .shopping-cart-discount,
    .shopping-cart-purchase{
      padding: 20px 20px;
    }
    
    .shopping-cart-top .operation{
      margin-left: 40px;
    }

    .shopping-cart-bottom .content{
      width: 15%;
    }

    .shopping-cart-top .quantity{
      margin-left: 90px;
    }

    .shopping-cart-top .operation{
      margin-left: 20px;
    }

    
    .shopping-cart-bottom .img .images{
      width: 110px;
      height: 110px;
    }

    .shopping-cart-bottom .content,
    .product_color .color-frame  .classify,
    .product_color .color-frame .color-code,
    .price .initial-price,
    .price .discount,
    .shopping-cart-bottom .product_money,
    .shopping-cart-bottom .product_operation .delete{
      font-size: 15px;
    }

    .shopping-cart-top  .product,
    .shopping-cart-top .unit-price,
    .shopping-cart-top .quantity,
    .shopping-cart-top .money,
    .shopping-cart-top .operation,
    .shopping-cart-purchase .purchase-content,
    .shopping-cart-purchase .product_purchase .delete-purchase,
    .shopping-cart-purchase .total-payment,
    .shopping-cart-purchase .total-amount{
      font-size: 17px;
    }

    .shopping-cart-bottom .quantity .reduce,
    .shopping-cart-bottom .quantity .increase{
      height: 30px;
      width: 30px;
    }


    .quantity .reduce  .shopee-svg-icon,
    .quantity .increase  .shopee-svg-icon{
      font-size: 9px;
      margin-top: 10px;
    }

    .shopping-cart-bottom .quantity .quantity-input{
      width: 40px;
      height: 30px;
    }

    .shopping-cart-top .square,
    .shopping-cart-bottom .square,
    .shopping-cart-purchase .square-purchase{
      width: 18px;
      height: 18px;
    }

    .shopping-cart-purchase .Purchase{
      width: 180px;
      height: 45px;
      font-size: 17px;
    }
}
  
@media (min-width: 1200px) {
  
    .container { max-width: 1200px; }
  
    .product-container .container {
        position: relative;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .product-grid { grid-template-columns: repeat(4, 1fr); }
    
     
    .shopping-cart-bottom .img{
      margin: 0 20px;
    }
    
    .shopping-cart-top .money{
      margin-left: 100px;
    }
    
    .shopping-cart-top,
    .shopping-cart-bottom,
    .shopping-cart-discount,
    .shopping-cart-purchase{
      padding: 20px 40px;
    }
    
    .shopping-cart-top .operation{
      margin-left: 65px;
    }

    .shopping-cart-bottom .content{
      width: 20%;
    }

    .shopping-cart-top .quantity{
      margin-left: 135px;
    }

    .shopping-cart-top .operation{
      margin-left: 65px;
    }

    .shopping-cart-bottom .content,
    .product_color .color-frame  .classify,
    .product_color .color-frame .color-code,
    .price .initial-price,
    .price .discount,
    .shopping-cart-bottom .product_money,
    .shopping-cart-bottom .product_operation .delete{
      font-size: 16px;
    }

    .shopping-cart-top  .product,
    .shopping-cart-top .unit-price,
    .shopping-cart-top .quantity,
    .shopping-cart-top .money,
    .shopping-cart-top .operation,
    .shopping-cart-purchase .purchase-content,
    .shopping-cart-purchase .product_purchase .delete-purchase,
    .shopping-cart-purchase .total-payment,
    .shopping-cart-purchase .total-amount{
      font-size: 18px;
    }

  
    .shopping-cart-bottom .quantity .reduce, 
    .shopping-cart-bottom .quantity .increase{
      height: 35px;
      width: 35px;
    }

    .quantity .reduce  .shopee-svg-icon,
    .quantity .increase  .shopee-svg-icon{
      font-size: 10px;
      margin-top: 10px;
    }

    .shopping-cart-bottom .quantity .quantity-input{
      width: 50px;
      height: 35px;
    }

    .shopping-cart-top .square,
    .shopping-cart-bottom .square,
    .shopping-cart-purchase .square-purchase{
      width: 20px;
      height: 20px;
    }

    .shopping-cart-purchase .Purchase{
      width: 200px;
      height: 50px;
      font-size: 18px;
    }

}

  
@media (min-width: 1400px) {
  
    html { font-size: 18px; }
  
    .container { max-width: 1350px; }
}


  
  